@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Noto+Sans+Cherokee:wght@800&family=Noto+Sans+Devanagari:wght@800&family=Noto+Sans+HK:wght@700&family=Noto+Sans+JP:wght@700&family=Noto+Sans:ital,wght@0,600;0,800;0,900;1,800&family=Noto+Serif+Bengali:wght@700&family=Noto+Serif+Toto:wght@700&family=Nunito:wght@200;300;400;700&family=Poppins:wght@100;300;400;500;600&family=Raleway:wght@900&family=Roboto:wght@100;300;400;500;700&family=Unbounded:wght@700&display=swap');

@keyframes animate{
  0%{
    background-position: 0;
  }
  100%{
    background-position: 400%;
  }
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  border: none;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
}
:root{
  --silver:#C0C0C0;
  --white:whitemoke;
  --bg: linear-gradient(#00008B,#003366,#0000FF,#0C7CC2);
}
::selection{
  background: var(--orange);
  color: #fff;
}
/***** HTML *****/
html{
  scroll-behavior: smooth;
  font-size: 62.5%;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
section{
  padding: 2rem 9%;

}
.btn{
  display: inline-block;
  margin-top: 1rem;
  background:linear-gradient(90deg,#00008B,#003366,#0000FF,#0C7CC2);
  color: whitesmoke;
  font-size: 1.7rem;
  cursor: pointer;
  padding: .8rem 3rem;
  border-radius: 5rem;
}
.btn:hover{
  color: #00FFFF;
  background: rgba(255, 165, 0, .2);
}
/***** HEADER *****/
header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: var(--bg);
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 2rem 9%;
  position: sticky;
}
header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  background: linear-gradient(90deg, #C0C0C0, #f5f5f5, #A9A9A9, #D3D3D3, #808080, #C0C0C0);
  background-size: 400%;
  font-family: sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 10s linear infinite;

}

header .logo span{
  background: linear-gradient(90deg, #FF4500, #FF6347, #8B0000, #FF0000, #DC143C, #FF4500);
  background-size: 400%;
  font-family: sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 10s linear infinite;
}
header .navbar a{
  color: var(--silver);
  font-size: 2rem;
  margin: .8rem;
}
header .navbar a:hover{
  color: #00FFFF;
  border-bottom: .2rem solid #00FFFF;
}
header .icons i{
  font-size: 2.5rem;
  color: var(--silver);
  cursor: pointer;
  margin-right: 2rem;
}
header .icons i:hover{
  color: #00FFFF;
}
header .s-container{
  top: 100%;
  right: 0;
  left: 0;
  position: absolute;
  padding: 1.5rem 2rem;
  background: var(--bg);
  border-top: .1rem solid rgba(255,255,255,2);
  align-items: center;
  z-index: 1000;
  clip-path: polygon(0 0,100% 0,100% 0,0 0);
}
header .s-container.active{
  clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
}
header .s-container #s-bar{
  width: 93%;
  padding: 1.2rem;
  text-transform: none;
  color: var(--silver);
  font-size: 1.7rem;
  border-radius: .5rem;
  background: transparent;
  border-color: var(--silver);
}
header .s-container label{
  color: var(--silver);
  cursor: pointer;
  margin-left: 1.5rem;
  font-size: 3rem;
}
header .s-container label:hover{
  color: #00FFFF;
}
/****** Login-Form*****/
.login-form-c{
  position: fixed;
  top: -120%;
  left: 0;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 10000;
  background: rgba(0, 0, 0, .5);
}
.login-form-c.active{
  top: 0;
}
.login-form-c form{
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: .5rem;
  width: 50rem;
  background: var(--silver);
}
.login-form-c form h3{
  font-size: 3rem;
  color: #444;
  text-transform: uppercase;
  padding: 1rem 0;
  text-align: center;
}
.login-form-c form .box{
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: var(--bg);
  margin: .6rem 0;
  text-transform: none;
  border: .1rem solid rgba(0,0,0,.3);
}
.login-form-c form .box:focus{
  border-color: #00FFFF;
}
.login-form-c form #remember{
  margin: 2rem 0;
}
.login-form-c form label{
  font-size: 1.5rem;
}
.login-form-c form .btn{
  width: 100%;
  display: block;
}
.login-form-c form p{
  padding: .5rem 0;
  font-size: 1.5rem;
  color: var(--bg);
}
.login-form-c form p a:hover{
  text-decoration: underline;
  color: #00FFFF;
}
.login-form-c #form-close{
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
  color: var(--silver);
  cursor: pointer;
}
.login-form-c #form-close:hover{
  color: #00FFFF;
}
#menu{
  color: var(--silver);
  border: .1rem solid var(--silver);
  padding: .5rem 1.2rem;
  border-radius: .5rem;
  font-size: 3rem;
  cursor: pointer;
  display: none;
}
/**** PHOTOS ****/
.heading {
  text-align: center;
  padding: 2.5rem 0;
}
.heading .pheading{
  margin: 50px 0;
  text-align: center;
  font-size: 5rem;
  background:linear-gradient( #FFBF00, #E1C16E,#E4D00A,  #FFBF00, #E1C16E,#E4D00A);
  background-size: 400%;
  font-family: sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 10s linear infinite;
  color: var(--silver);
  padding: .2rem .9rem;
}
heading span.space {
  background: none;
}
.photos{
  background-image: url(../img/bg.gif);
  background-size: cover;
  
  background-repeat: no-repeat;
  
}
.box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(315px,1fr));
}
.photos .box-container .box{
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
  border: 1rem solid #fff;
  position: relative;
  height: 40rem;
  flex: 1 1 30rem;
  width: 310px;
  margin-bottom: 20px;
}
.photos .box-container .box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photos .box-container .box .content{
  top: -100%;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  text-align: center;
  padding-top: 5rem;
  padding: 2rem;
}
.photos .box-container .box:hover .content{
  top: 0;
}
.photos .box-container .box h3{
  font-size: 2.5rem;
  color: #00FFFF;
  padding-top: 10rem;
}
/***** Footer *****/
.footer{
  background: var(--bg);
}
.footer .box-container{
  display: flex;
  flex: wrap;
  gap: 1.5rem;
}
.footer .box-container .box{
  flex: 1 1 25rem;
  padding: 1rem 0;
}
.footer .box-container .box h3{
  font-size: 2.5rem;
  color: #fff;
  padding: .7rem;
}
.footer .box-container .box p{
  font-size: 1.5rem;
  color: #eee;
  padding: .7rem;
}
.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  color: #eee;
  padding: .7rem;
}
.footer .box-container .box a:hover{
  color: #00FFFF;
  text-decoration: underline;
}
.footer .credit{
  margin-top: 1rem;
  font-weight: normal;
  color: var(--silver);
  font-size: 2rem;
  padding-top: 2rem 1rem;
  text-align: center;
  border-top: .1rem solid rgba(255,255,255,2);
}
.footer .credit span{
  color: var(--orange);
}






/****Media****/
@media (max-width: 1200px){
  html{
    font-size: 55%
  }
}
@media (max-width: 991px){
  header{
    padding: 2rem;
  }
  section{
    padding: 2rem;
  }
}
@media (max-width: 768px){
  #menu{
    display: initial;
  }
  header .navbar{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: var(--bg);
    border-top: .1rem solid rgba(255,255,255,.2);
    padding: 1rem 2rem;
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
  }
  header .navbar.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);

  }
  header .navbar a{
    display: block;
    border-radius: .5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%
  }
  .content .heading span{
    font-size: 2.5rem;
  }
  .contact .row form .input-b input{
    width: 100%;
  }
 header .s-container #s-bar {
   width: 85%;
 }
}
